Connected Services/QMSAPI/Service20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIX" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIX" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="eBackupSchedule">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Never" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="EveryXMinute" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eBackupSchedule" nillable="true" type="tns:eBackupSchedule" />
  <xs:complexType name="ServiceUpdateStatus">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServiceUpdateStatus" nillable="true" type="tns:ServiceUpdateStatus" />
  <xs:simpleType name="ePermissionObjectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SourceDocumentFolder" />
      <xs:enumeration value="UserDocumentFolder" />
      <xs:enumeration value="QlikViewServer" />
      <xs:enumeration value="MailServer" />
      <xs:enumeration value="AuthTable" />
      <xs:enumeration value="AuthColumn" />
      <xs:enumeration value="AuthView" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ePermissionObjectType" nillable="true" type="tns:ePermissionObjectType" />
  <xs:complexType name="ComponentInfo">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentInfo" nillable="true" type="tns:ComponentInfo" />
  <xs:complexType name="ArrayOfQvServicesConfigValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QvServicesConfigValues" nillable="true" type="tns:QvServicesConfigValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQvServicesConfigValues" nillable="true" type="tns:ArrayOfQvServicesConfigValues" />
  <xs:complexType name="QvServicesConfigValues">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QvServicesConfigValues" nillable="true" type="tns:QvServicesConfigValues" />
</xs:schema>