Connected Services/QMSAPI/Service1012.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ws.qliktech.com/ANY/12/4/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.qliktech.com/ANY/12/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.qliktech.com/ANY/12/4/Imports">
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd21" namespace="http://ws.qliktech.com/ANY/12/4/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd0" namespace="http://ws.qliktech.com/QMS/11/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.CALs" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Triggers" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/PIX" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd10" namespace="http://ws.qliktech.com/QMS/12/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd11" namespace="http://ws.qliktech.com/QMS/12/2/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd12" namespace="http://ws.qliktech.com/QMS/12/3/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd13" namespace="http://ws.qliktech.com/QMS/12/4/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd14" namespace="http://ws.qliktech.com/QMS/12/5/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd15" namespace="http://ws.qliktech.com/QMS/12/6/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd16" namespace="http://ws.qliktech.com/QMS/12/7/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd17" namespace="http://ws.qliktech.com/ANY/11/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd18" namespace="http://ws.qliktech.com/ANY/12/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd19" namespace="http://ws.qliktech.com/ANY/12/2/" />
      <xsd:import schemaLocation="http://selun-hmd3:4799/QMS/Service?xsd=xsd20" namespace="http://ws.qliktech.com/ANY/12/3/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQTService4_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IQTService4_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService4_Ping_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKey" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetKey_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetTimeLimitedRequestKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLimitedRequestKey" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetTimeLimitedRequestKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLimitedRequestKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetTimeLimitedRequestKey_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetSystemInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemInformation" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetSystemInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetSystemInformation_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService4_QMSPing_InputMessage">
    <wsdl:part name="parameters" element="tns:QMSPing" />
  </wsdl:message>
  <wsdl:message name="IQTService4_QMSPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:QMSPingResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService4_QMSPing_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetQvServicesConfigValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQvServicesConfigValues" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetQvServicesConfigValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQvServicesConfigValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService4_GetQvServicesConfigValues_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System" name="detail" element="q6:Exception" />
  </wsdl:message>
  <wsdl:portType name="IQTService4">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/Ping" message="tns:IQTService4_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/PingResponse" message="tns:IQTService4_Ping_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/PingExceptionFault" name="ExceptionFault" message="tns:IQTService4_Ping_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetKey" message="tns:IQTService4_GetKey_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetKeyResponse" message="tns:IQTService4_GetKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetKeyExceptionFault" name="ExceptionFault" message="tns:IQTService4_GetKey_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeLimitedRequestKey">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetTimeLimitedRequestKey" message="tns:IQTService4_GetTimeLimitedRequestKey_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetTimeLimitedRequestKeyResponse" message="tns:IQTService4_GetTimeLimitedRequestKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetTimeLimitedRequestKeyExceptionFault" name="ExceptionFault" message="tns:IQTService4_GetTimeLimitedRequestKey_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemInformation">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetSystemInformation" message="tns:IQTService4_GetSystemInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetSystemInformationResponse" message="tns:IQTService4_GetSystemInformation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetSystemInformationExceptionFault" name="ExceptionFault" message="tns:IQTService4_GetSystemInformation_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="QMSPing">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/QMSPing" message="tns:IQTService4_QMSPing_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/QMSPingResponse" message="tns:IQTService4_QMSPing_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/QMSPingExceptionFault" name="ExceptionFault" message="tns:IQTService4_QMSPing_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQvServicesConfigValues">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetQvServicesConfigValues" message="tns:IQTService4_GetQvServicesConfigValues_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetQvServicesConfigValuesResponse" message="tns:IQTService4_GetQvServicesConfigValues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/12/4/IQTService4/GetQvServicesConfigValuesExceptionFault" name="ExceptionFault" message="tns:IQTService4_GetQvServicesConfigValues_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>